In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

In [2]:
import sqlite3

In [5]:
from datetime import date
from datetime import timedelta

In [20]:
weather_data = [
    (1,'2015-01-01',10),
    (2,'2015-01-02',25),
    (3,'2015-01-03',20),
    (4,'2015-01-04',30),
]

def database_setup():
    conn = sqlite3.connect('weather_data.db')
    cursor = conn.cursor()

    cursor.execute(
        ''' CREATE TABLE weather_table (
          id  INTEGER PRIMARY KEY,
          recordDate DATE,
          temperature INTEGER
        )'''
    )
    cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?)', weather_data)
    
    conn.commit()
    conn.close()
    
database_setup()

In [40]:
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

query = '''
    SELECT weather1.id
    FROM Weather weather1
    JOIN Weather weather2 ON weather1.recordDate = date(weather2.recordDate, '+1 day')
    WHERE weather1.temperature > weather2.temperature
'''

cursor.execute(query)
fetched_results = cursor.fetchall()

print("+----+")
print("| id |")
print("+----+")
for fetched_result in fetched_results:
        print(f"| {fetched_result[0]}  |")
print("+----+")


conn.close()

+----+
| id |
+----+
| 2  |
| 4  |
+----+